@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
    background: #f6f6f6;
}
.cards {
}

.list-icon-item {
    grid-template-columns: min-content 1fr;
}

@layer components {
    .template-area-card {
        grid-template-areas:
            ". b ."
            "a b c"
            "a b c"
            ". . .";
    }
    .grid-area-a {
        grid-area: a;
    }

    .grid-area-b {
        grid-area: b;
    }

    .grid-area-c {
        grid-area: c;
    }
}
